mark {
  background-color: #778da9;
  font-size: larger;
  padding: 3px;
  border-radius: 5px;
  margin: 0px 2px;
}

.layout {
  background-color: #0d1b2a;
  height: min-content;
  margin: 0px;
  color: aliceblue;
  padding: 20px;
}

.box {
  background-color: #415a77;
  width: 80%;
  padding: 5px;
  margin: auto;
  border-radius: 10px;
}

.input {
  margin: 2px;
  padding: 3px;
}

.label {
  padding-right: 10px;
  font-size: larger;
}

.values {
  width: 60px;
  border-radius: 5px;
  background-color: rgb(223, 223, 223);
  font-size: large;
}
